# Dependencies
/node_modules

# Environment Variables
.env

# WhatsApp Web.js Session Files
# Folder yang menyimpan sesi login WhatsApp Anda
/.wwebjs_auth
/.wwebjs_cache


# Puppeteer/Chrome Profile Data
# Cache dan data browser yang besar
/chrome_profile

# Log PM2
/logs

# data 
/data

